<app-content title="CME" subtitle="Continuing Medical Education" [loading]="loading">

  <div class="flex first">
    <div class="card card-33">
      <md-card>
        <md-card-subtitle>For More Information</md-card-subtitle>
        <md-card-content>
          <span class="flex detail" md-line><md-icon>person</md-icon>Dr. Vidya Jain</span>
          <!--<span class="flex detail" md-line><md-icon>phone</md-icon></span>-->
          <span class="flex detail" md-line><md-icon>mail</md-icon><a href="mailto:jainvidya@gmail.com?subject=ICEC CME Seminar">jainvidya@gmail.com</a></span>
        </md-card-content>

      </md-card>
    </div>
    <div class="card card-33">
      <md-card>
        <md-card-subtitle>For More Information</md-card-subtitle>
        <md-card-content>
          <span class="flex detail" md-line><md-icon>person</md-icon>Dr. Shaheda Qaiyumi</span>
          <!--<span class="flex detail" md-line><md-icon>phone</md-icon>(352) 871-7112</span>-->
          <span class="flex detail" md-line><md-icon>mail</md-icon><a href="mailto:shahedaq@gmail.com?subject=ICEC CME Seminar">shahedaq@gmail.com</a></span>
        </md-card-content>
      </md-card>
    </div>
    <div class="card card-33">
      <gallery-card [item]="gallery" title="Gallery"></gallery-card>
    </div>
  </div>
  <p>
    The Continuing Medical Education (CME) division of India Cultural and Education Center became operational in January 1999.
    The committee consists of ten physician members. There are four officers – President, Secretary, Treasurer and a Community
    Liaison. The main objective is to bring all physicians and allied health care workers of Indian origin and medical professionals
    (physicians, physician assistants, advance nurse practitioners and medical students) together at ICEC for Continuing
    Medical Education, Health Fair and social interaction among peers and pharmaceutical representatives. A secondary goal
    is to raise funds for ICEC.
  </p>
  <p>
    The first Continuing Medical Education seminar was held at ICEC on March 13, 1999. Since then, the tradition has continued
    and as of January 2010, eighteen seminars have been conducted at ICEC. These events are open to physicians and other
    medical professionals in Alachua, Marion, Putnam and Levy counties and Lake City. The committee members select the topics
    of interest suggested by the attendees from previous seminars. Local experts from University of Florida Medical School
    and the community are invited to provide updated information regarding the selected topics. These seminar topics are
    then submitted to Florida Medical Association for approval to award the attendees with American Medical Association’s
    Physician Recognition Award Category 1 credits, required by the licensing board for renewal of license for all medical
    professionals. Seminars are well-attended and provide needed continuing education to community healthcare professionals.
  </p>
  <p>
    The CME division also organizes the annual Health Fair and cardio-pulmonary resuscitation classes for the community-at-large
    and ICEC youth group. The community physicians provide screening for hypertension, Asthma, Alzheimer’s, ear problems,
    hand & feet ailments and physical therapy. Laboratory Corporation of America provides low cost blood tests, Suwannee
    River Health Education Center provides free screening for osteoporosis and University of Florida-based Gator Aider provides
    the instructions for cardio-pulmonary resuscitation classes.
  </p>
  <p>
    The secondary objective of these seminars (fundraising) is accomplished by the registration fee for all attendees, grants
    requested from the pharmaceutical companies and fee for the display booths charged to the medical supply companies, home
    healthcare and pharmaceutical representatives who want to advertise medically related products. As of January 2010, this
    division has helped ICEC to repay the debt and raise funds to help defray the cost of maintenance of the ICEC building.
  </p>
  <p>
    The CME division plans to continue this tradition in the future to provide quality medical education to medical professionals
    and community members and raise much needed funds for ICEC. Please contact Dr. Vidya Jain or Dr. Shaheda Qaiyumi for
    more information.
  </p>
</app-content>