<header class="app-header" (click)="toggleSidenav()">
  <md-list class="vertical" [class.open]="navService.isSidenavOpen">
    <md-list-item class="vertical-nav">
      <span md-line>Navigation</span>
      <md-icon>expand_more</md-icon>
    </md-list-item>
  </md-list>
  <h1>{{title}}</h1>
  <h2 *ngIf="subtitle">{{subtitle}}</h2>
</header>
<button md-mini-fab color="primary" trapFocus (click)="goBack()"><md-icon>arrow_back</md-icon></button>
<md-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></md-progress-bar>
<div class="app-article" [class.nomargin]="nomargin">
  <ng-content></ng-content>
</div>