<app-content [title]="'About ICEC'" [loading]="loading">

  <h3 class="first">A Historical Perspective</h3>
  <md-divider></md-divider>
  <p>In early 1989, the Gainesville Indian Community was thrust into the midst of a mini crisis. Within a short space of two
    weeks, three students of Indian origin had tragically decided to end their precious lives. From the pangs of this despair
    and despondency, rose the concept of ICEC. Several key members of the local Indian community, Drs. Dinesh Shah and Rasik
    Nagda being prominent among them, formed the India Cultural and Education Center, or <b>ICEC</b>.
  </p>
  <a [routerLink]="['/bylaws']">ICEC Bylaws...</a>

  <h3>Mission &amp; Purpose</h3>
  <md-divider></md-divider>
  <ul>
    <li>Assist students of Indian heritage for fulfilment of their cultural and educational aspirations </li>
    <li>Create a support network of students, faculty and community of Indian heritage to assist in times of emotional stress
      and crises </li>
    <li>Provide opportunities to youth of Indian heritage to congregate, co-operate and contribute </li>
    <li>Provide academic guidance to students seeking careers in various fields </li>
    <li>Provide emergency financial assistance, scholarships and zero-interest loans to needy students </li>
    <li>Promote Indo-US cultural interaction by organizing and participating in cultural and educational programs </li>
    <li>Provide opportunity to its members to contribute towards the betterment of the community-at-large </li>
  </ul>
  <a [routerLink]="['/mission']">Click here to learn more...</a>

  <h3>Administrative Structure</h3>
  <md-divider></md-divider>
  <ul>
    <li>Governed by an elected 15-member Executive Board </li>
    <li>Board office bearers - President, Vice-President, Secretary and Treasurer </li>
    <li>Categories of membership: Donor Member (donation of $5,000 or more); Founding Member (donation of $1,000 - $4,999); Regular
      Member (payment of $100 annual dues); Associate Member (students); and Honorary Member </li>
    <li>The Indian Student Association (ISA) and Indian Graduate Students Association (IGSA) of the University of Florida nominate
      ICEC student liaisons every year. </li>
  </ul>

  <div>
    <a [routerLink]="['/members/current/board']">ICEC Board Members...</a>
  </div>
  <div>
    <a [routerLink]="['/members/current/overall']">ICEC Donor/Founding Members...</a>
  </div>
  <div>
    <a [routerLink]="['/members/current/regular']">ICEC Regular Members...</a>
  </div>


  <h3>Facilities</h3>
  <md-divider></md-divider>
  <p>Located at 1115 SW 13th Street, Gainesville, FL, the ICEC building is within walking distance of the UF campus. The two-story,
    15,000 sq. ft. building sits on a 2.6 acre wooded lot and consists of a 10,000 sq. ft. auditorium, a stage with curtains,
    projection screen, lights and sound system, a food-warming facility, and four rooms for multiple use.
  </p>
  <p> Student groups registered with the University of Florida (ISA, IGSA, ASHA, SPICMACAY and CHiTra) can rent the hall on weekends
    for cultural and recreational purposes. They can use upstairs rooms on weekends at no cost with prior arrangement.
  </p>
  <div class="flex inset-15x">
    <div class="card card-33" *ngIf="!contacts">
      <md-card>
        <md-card-subtitle>&nbsp;</md-card-subtitle>
        <md-card-content>
          <span class="flex detail" md-line><md-icon>person</md-icon></span>
          <span class="flex detail" md-line><md-icon>mail</md-icon></span>
          <span class="flex detail" md-line><md-icon>phone</md-icon></span>
        </md-card-content>
      </md-card>
      <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
    </div>
    <div class="card card-33" *ngFor="let contact of contacts">
      <md-card>
        <md-card-subtitle>{{contact.subtitle}}</md-card-subtitle>
        <md-card-content>
          <span class="flex detail" md-line><md-icon>person</md-icon><span>{{contact.fullname}}</span></span>
          <span class="flex detail" md-line><md-icon>mail</md-icon><a href="mailto:{{contact.email}}?subject={{contact.membershipTerm}}">{{contact.email}}</a></span>
          <span class="flex detail" md-line><md-icon>phone</md-icon><span>{{contact.contact}}</span></span>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <h3>Activities organized &amp; sponsored by ICEC</h3>
  <md-divider></md-divider>

  <h4>Education:</h4>
  <ul>
    <li>SAT review classes; Geography Bee classes - these are conducted by external instructors upon request </li>
    <li>Academic advisement/career guidance by UF faculty &amp; staff </li>
    <li>Continuing Medical Education seminars </li>
    <li>Annual Health Fair - Free health education for the community </li>
  </ul>

  <h4>Cultural:</h4>
  <ul>
    <li>Celebration of India's Republic Day &amp; Independence Day </li>
    <li>Youth Group celebrations for Diwali/Eid/Christmas </li>
    <li>Musical concert as multi-faith tribute to Mahatma Gandhi </li>
    <li>Live music and dance programs arranged by Indian students </li>
    <li>Lectures by invited cultural &amp; religious leaders </li>
    <li>India Fest: Annual Indian Food and Cultural Festival </li>
  </ul>

</app-content>