<IfModule mod_rewrite.c>
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTP_HOST} ^icec\-florida\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.icec\-florida\.org$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ICEC/api/v1/?(.*)$ /ICEC/api/v1/api.php?action=$1 [NC,L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTP_HOST} ^icec\-florida\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.icec\-florida\.org$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule icec/?$ /ICEC/ [R=302,NC,L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTP_HOST} ^icec\-florida\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.icec\-florida\.org$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ICEC/?(.*)$ /ICEC/ [NC,L]
</IfModule>