<app-content [title]="getTitle()" [subtitle]="getSubtitle()" [nomargin]="gallery.length == 1" [loading]="loading">
  <div class="flex first" *ngIf="gallery.length > 1">
    <div class="card card-33" *ngFor="let item of gallery">
      <app-gallery-card [item]="item" [titleWithYear]="hasMultipleSection" [portrait]="item.portrait" largeImg="true" showCount="true"></app-gallery-card>
    </div>
  </div>
  <div class="gallery" *ngIf="gallery.length == 1">
    <md-grid-list [cols]="col" [rowHeight]="gallery[0].row_height" gutterSize="5" [class.hide]="isSlideShowActive">
      <md-grid-tile *ngFor="let photo of gallery[0].photos; let i = index;" (click)="showPhoto(i)" [rowspan]="photo.rows">
        <img src="{{photo.thumbnail || photo.imageUrl}}" alt="photo of {{photo.caption}}">
        <md-grid-tile-footer *ngIf="photo.caption">
          <h3 md-line>{{photo.caption}}</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div *ngIf="gallery.length == 0 && !loading">
    <h3>No Data Available</h3>
  </div>
</app-content>

<div *ngIf="isSlideShowActive" (keydown)="onKey($event)" trapFocus tabindex="0">
  <div class="btn close">
    <button md-icon-button (click)="closeSlideShow()"><md-icon >close</md-icon></button>
  </div>

  <div class="slideshow-container" [class.active]="isSlideShowActive" *ngIf="selectedPhoto">
    <div class="flex slideshow" [class.hide]="!isSlideShowActive">
      <div class="flex btn slide-btn back">
        <button md-icon-button (click)="showPrevPhoto()" [disabled]="!hasPrevPhoto"><md-icon>navigate_before</md-icon></button>
      </div>

      <div class="slide">
        <img *ngIf="imgLoaded" class="img" src="{{selectedPhoto.imageUrl || selectedPhoto.thumbnail}}" alt="photo of {{selectedPhoto.caption}}">
      </div>

      <div class="flex btn slide-btn next">
        <button md-icon-button (click)="showNextPhoto()" [disabled]="!hasNextPhoto"><md-icon>navigate_next</md-icon></button>
      </div>
    </div>
  </div>
</div>