<app-content [title]="'Mission and Purpose'">
  <p class="first">ICEC is a unique organization in the country. It was created in 1991 to:</p>
  <ul>
    <li>Assist students of Indian heritage for fulfillment of their cultural and educational aspirations </li>
    <li>Create a support network of students, faculty and community of Indian heritage to assist in times of emotional stress
      and crises </li>
    <li>Provide opportunities to youth of Indian heritage to congregate, co-operate and contribute </li>
    <li>Provide academic guidance to students seeking careers in various fields </li>
    <li>Provide emergency financial assistance, scholarships and zero-interest loans to needy students </li>
    <li>Promote Indo-American cultural interaction by organizing and participating in cultural and educational programs </li>
    <li>Provide an opportunity to its members to contribute towards the betterment of the community-at-large </li>
  </ul>

  <h3>Assist students of Indian heritage for fulfilment of their cultural and educational aspirations</h3>
  <mat-divider></mat-divider>

  <p>For children under 18:</p>
  <ul>
    <li>SAT review classes in English </li>
    <li>SAT review classes in Mathematics </li>
    <li>Physics classes for high school children </li>
    <li>Chemistry classes for high school children </li>
    <li>Hindi classes </li>
    <li>Indian music classes </li>
  </ul>

  <p>For University of Florida (UF) and Santa Fe College (SFC) students:</p>
  <ul>
    <li>ICEC members as faculty advisors to Indian student organizations registered with UF </li>
    <li>Community members to provide help as needed, particularly in emergency </li>
    <li>Provide a forum for social, cultural, and religious activities </li>
    <li>Provide a place for fundraising </li>
    <li>Academic counseling and career guidance by UF Indian faculty & staff </li>
  </ul>

  <h3>Create a support network of students, faculty and community members of Indian heritage to assist in times of emotional
    stress and crises</h3>
  <mat-divider></mat-divider>
  <ul>
    <li>A group of faculty advisors helps students who need assistance </li>
    <li>Graduate students help and mentor undergraduate students </li>
    <li>First-year UF students assist high school graduates in selecting classes and give advice regarding college life </li>
    <li>Physicians of Indian heritage provide medical assistance to students </li>
    <li>Psychologist of Indian heritage provides counseling during crisis situations </li>
    <li>Business community (motel owners) has provided short-term accommodation and employment for students in need </li>
    <li>Indian community has galvanized support to ensure students get adequate legal advice in times of need </li>
    <li>Special funds have been raised for student relief in times of crises </li>
    <li>Zero-interest loans available to needy students </li>
  </ul>
  <h3>Provide opportunity to youth of indian heritage to congregate, cooperate and contribute</h3>
  <mat-divider></mat-divider>
  <p>ICEC Youth Group, formed in April 1995, has provided children between ages 5 and 18 a means to learn their heritage, culture
    and to become a support group for teenagers.</p>
  <p>Educational activities:</p>
  <ul>
    <li>SAT review classes every Sunday </li>
    <li>Science & Language classes for high-school students </li>
    <li>Music classes (Harmonium and Tabla) </li>
    <li>Continuing Medical Education seminar and Health Fair</li>
  </ul>
  <p>Cultural programs:</p>
  <ul>
    <li>Republic Day </li>
    <li>Independence Day </li>
    <li>India Fest </li>
    <li>Earth day at Gainesville plaza </li>
    <li>Celebration of festivals – Diwali, Eid, Christmas </li>
  </ul>

  <p>Contribution to community:</p>
  <ul>
    <li>Keep Alachua County Beautiful</li>
    <li>Hope for Holidays during Christmas</li>
    <li>Feed the Hungry at St. Francis House</li>
    <li>Canned Foods drive during Thanksgiving holiday</li>
  </ul>
  <p>Fun-filled activities:</p>
  <ul>
    <li>Picnics at various parks</li>
    <li>Holi celebration</li>
    <li>Ichetucknee river tubing</li>
  </ul>
  <p>Fundraising activities:</p>
  <ul>
    <li>2010 Haiti earthquake</li>
    <li>2004 Tsunami disaster </li>
  </ul>

  <h3>Provide academic guidance to students seeking careers in various fields</h3>
  <mat-divider></mat-divider>
  <p>Meeting with professors from University of Florida (UF) to receive guidance in various fields, including</p>
  <ul>
    <li>Business</li>
    <li>Engineering</li>
    <li>Law</li>
    <li>Medicine</li>
    <li>Science</li>
  </ul>
  <p>Plans are in progress to start ‘MEET THE DEAN’ program for UF students who are interested in pursuing career in Engineering,
    Medicine, Dental, Veterinary Medicine, Chiropractic, Physician Assistant and Nursing fields. </p>

  <h3>Provide emergency financial assistance, scholarships and zero-interest loans to needy students</h3>
  <mat-divider></mat-divider>
  <ul>
    <li>A special fund has been set up from the donations by:
      <ul>
        <li>Dr. Shio Agarwal in memory of their son Rahul Agarwal, </li>
        <li>Dr. Dinesh O. Shah in memory of his wife Suvarna Shah, and </li>
        <li>Dr. Rasik Nagda.</li>
      </ul>
    </li>
    <li>As of today, this fund has provided interest-free loans to twenty graduate students (most of them are students who came
      from India for higher studies)</li>
    <li>There is a scholarship fund in memory of Mr. Vinod Pillai to award scholarships of $300.00 to the best volunteer student
      from University of Florida.</li>
    <li>Student Contingency Fund to help needy students</li>
    <li>Legal Fund to help student in legal cases </li>
  </ul>

  <h3>Promote Indo–American cultural interaction by organizing and participating in cultural and educational programs</h3>
  <mat-divider></mat-divider>
  <ul>
    <li>Annual India Fest drawing 2000-2500 visitors</li>
    <li>Republic Day cultural program open to the community</li>
    <li>Independence Day cultural program open to the community</li>
    <li>Earth Day cultural program at Gainesville downtown plaza</li>
    <li>Participation in the annual Florida Folklore Festival</li>
    <li>Watching cricket matches, Indian movies and documentaries on TV at ICEC</li>
    <li>Live music and dance concerts by well-known artists and programs by programs by undergraduate and graduate student groups</li>
    <li>Hosting talks by professors and experts in different fields</li>
    <li>Indian folk dances such as Navaratri Garba open to community</li>
    <li>Lectures by invited cultural and religious leaders </li>
  </ul>

  <h3>Providing opportunity to its members to contribute towards the betterment of the community-at-large</h3>
  <mat-divider></mat-divider>

  <ul>
    <li>Raise funds for disasters in USA and INDIA
      <ul>
        <li>India Fest in 2001 raised funds for 9/11</li>
        <li>Gujarat Earthquake Relief Fund in 2006</li>
        <li>Tsunami disaster of 2004</li>
        <li>Haiti Disaster Relief fund in 2010</li>
      </ul>
    </li>
    <li>Community members participate in volunteer programs such as Adopt-a-Road and Keep Alachua Beautiful programs of Alachua
      County</li>
    <li>Arrange Continuing Medical Education seminars for medical professionals</li>
    <li>Arrange financial seminars for members and non-members</li>
    <li>Arrange educational seminars for Long Term Care insurance</li>
    <li>Organize Health Fair for ICEC members and community-at-large</li>
    <li>Support group activities for seniors of Indian heritage e.g. Grandparents’ Club</li>
    <li>Provide SAT review classes for under-privileged children in Gainesville</li>
    <li>Yoga workshops</li>
    <li>Provide a venue for indoor activities</li>
  </ul>

</app-content>