<div class="app-slide-container">
  <div class="slides" (click)="changeSlide()">
    <div *ngFor="let item of slides; let idx = index" class="slide" [class.on-stage]="idx === onStageSlideIndex"
      [class.off-stage]="idx === offStageSlideIndex" [class.back-stage]="idx !== onStageSlideIndex && idx !== offStageSlideIndex">
      <div class="content">
        <img [src]="item.img" [alt]="item.title">
      </div>
      <div class="item">
        <div class="title inset-15x">
          {{item.title}}
        </div>
        <div class="inset-5x">
          {{item.desc}}
        </div>
      </div>
    </div>
  </div>
</div>