<app-content [title]="'Youth Group'" [loading]="loading || loading1">
  <div class="flex first">
    <div class="card card-50" *ngIf="!contacts">
      <mat-card>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content>
          <span class="flex detail" mat-line><mat-icon>person</mat-icon></span>
          <span class="flex detail" mat-line><mat-icon>mail</mat-icon></span>
          <span class="flex detail" mat-line><mat-icon>phone</mat-icon></span>
        </mat-card-content>
      </mat-card>
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
    <div class="card card-50" *ngFor="let contact of contacts">
      <mat-card>
        <mat-card-subtitle>{{contact.subtitle}}</mat-card-subtitle>
        <mat-card-content>
          <span class="flex detail" mat-line><mat-icon>person</mat-icon><span>{{contact.fullname}}</span></span>
          <span class="flex detail" mat-line><mat-icon>mail</mat-icon><a href="mailto:{{contact.email}}?subject={{contact.membershipTerm}}">{{contact.email}}</a></span>
          <span class="flex detail" mat-line><mat-icon>phone</mat-icon><span>{{contact.contact}}</span></span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card card-50" *ngIf="contacts && contacts.length == 0"></div>
    <div class="card card-50">
      <app-gallery-card title="Gallery" [input]="input" [(loading)]="loading" largeImage="true"></app-gallery-card>
    </div>
  </div>

  <h3>Brief History and Mission</h3>
  <mat-divider></mat-divider>
  <p>
    The Indian Cultural & Educational Center Youth Group will be celebrating its 16th year in April 2011. It was formed in 1995
    to aid the children (aged 12-18) of first generation Indian immigrants. The initial purpose was to provide a setting
    for these teens in which they could socialize with other children of their own age and heritage and develop a sense of
    belonging and community. In first few years activities of the Youth Group were primarily social. Events such as annual
    trip to Itchetucknee River, summer trips to water parks and springs, and regular picnics at local parks. These fun activities
    provided a way for the Youth Group children and their parents to interact and identify with individuals from their own
    culture.
  </p>
  <p>
    Since its inception however, this group has also been involved in many different volunteer activities. Their first volunteer
    work began in year 1999 for the newly built Indian Cultural & Educational Center (ICEC). They started fundraising efforts
    such as car washes and bake sales, for the purchase of needed chairs, tables, and library furniture. They have also raised
    funds to install curtains for the backstage and game room equipments such as ping-pong, air hockey, and foosball tables.
    They were also able to raise enough funds by selling dinners at different events to install stage lights and a music
    system at a cost of about 10,000.00.
  </p>
  <p>
    In addition to volunteering for ICEC, the Youth Group has spent much time volunteering in Gainesville and the Alachua County.
    They have participated annually in events such as Keep Alachua Beautiful, and Hope for The Holidays. They have also hosted
    canned food drives for the St. Francis House and have served meals several times to the homeless and hungry people. This
    group has been helping to clean ICEC building and surrounding area twice a year (in April & October). They enjoy painting
    outside walls and stairways.
  </p>
  <p>
    Every year since 1998, this group has been adopting one and sometimes two needy families during the holiday season through
    Alachua County’s Hope for the Holidays program. They have collected money and new items from their friends and families
    and even been known to contribute from their own allowances to purchase gifts and necessary items to fulfill the families’
    dreams for Christmas. In year, 2004, the Youth Group sponsored a family of four teenagers with no parents, in which the
    19 year old was carrying the burden of support for his three younger siblings. They raised enough funds to purchase all
    of their wished goods such as cloths, purses, football, basketball, computer and a gift certificate for Publix for meals.
    The community members donated printer and monitor for the computer.
  </p>
  <p>
    In addition to their dedication to community service, the Youth Group hosts two main cultural programs during the year. Every
    January and August, these children, with the help of their parents, organize and run cultural programs to celebrate India’s
    Republic and Independence Days, respectively. They contribute heavily to much of the behind the scenes work for these
    events and a majority of Youth Group children also perform dances, songs, hosting, instrumentals and skits for the programs.
    These talented young children also play an instrumental role in ICEC’S Annual India Fest, a festival held for the Gainesville
    and surrounding community to display India’s vast culture and heritage. They perform various dances, songs etc, help
    serve food & drinks and volunteer in organizing and running the event.
  </p>
  <p>
    Finally, these students help minority children in the Gainesville community in their preparation for the SAT exam by tutoring
    them in Math and English each week at the ICEC. All members of this group also participate in volunteer activities through
    their respective schools via Key Club, March of Dimes, and other organizations.
  </p>
  <p>
    Their volunteer activities extend to other parts of the world as well, for example some of the children have started a fundraiser
    to help build a well for a needy village in Ghana. They held a cultural program on January 29, 2005 to raise funds for
    the Tsunami disaster to help fishermen by buying them a boat in a small village in India who lost every thing during
    this disaster.
  </p>
  <p>
    Over the years, this young group of children has shown dedication and selflessness through their voluntary acts for the ICEC,
    the Gainesville and surrounding communities. In addition to their sometimes grueling school work, they take time out
    of their schedule to help those around them and truly demonstrated that they are today and will be in the future, caring,
    dedicated and community oriented citizens.
  </p>
</app-content>