<div class="app-announcemnt-container" [class.hide]="showAnnouncement">
  <div class="slides" (click)="changeSlide()">
    <div *ngFor="let item of annoucements" class="slide" [class.show]="item === selectedAnnoucement">
      <div class="content">
        <div class="item">
          <div class="title">
            {{item.title}}
          </div>
          <div class="inset-5x">
            {{item.desc}}
          </div>
        </div>
        <div>
          <button md-raised-button color="primary" class="more" [routerLink]="item.url">Learn More</button>
        </div>
      </div>
    </div>
    <md-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></md-progress-bar>
  </div>
</div>