  <app-navigation [title]="'Gallery'">
    <md-grid-list cols="4" rowHeight="200px">
      <md-grid-tile *ngFor="let dog of dogs" [rowspan]="dog.rows">
        <img src="assets/gallery/dogs/{{dog.name}}.png" alt="photo of {{dog.name}}">
        <md-grid-tile-footer>
          <h3 md-line>{{dog.name}}</h3>
          <span md-line>Human: {{dog.human}}</span>
          <button md-icon-button (click)="showDog(dog)">
              <md-icon>more_horiz</md-icon>
            </button>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </app-navigation>