<app-navigation [title]="'Gallery'" [subtitle]="getSubtitle()">
  <div class="flex" *ngIf="gallery.length > 1">
    <div class="card card-33" *ngFor="let item of gallery">
      <gallery-card [item]="item"></gallery-card>
    </div>
  </div>
  <div *ngIf="gallery.length == 1">
    <md-grid-list [cols]="col$ | async" [rowHeight]="gallery[0].row_height">
      <md-grid-tile *ngFor="let photo of gallery[0].photos" [rowspan]="photo.rows">
        <img src="{{photo.imageUrl}}" alt="photo of {{photo.caption}}">
        <md-grid-tile-footer>
          <h3 md-line>{{photo.caption}}</h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div *ngIf="gallery.length == 0">
    <h3>No Data Available</h3>
  </div>
</app-navigation>