<app-navigation [subtitle]="'Center Rental Information'" [title]="'Rental'">
  <h3> Looking for a Conference Hall or Banquet facility in Gainesville? The ICEC offers a low-cost option.</h3>
  <div class="flex contact">
    <div class="card card-33">
      <md-card>
        <md-card-subtitle>For More Information</md-card-subtitle>
        <md-card-content>
          <span class="flex detail" md-line><md-icon>person</md-icon>Iqbal Qaiyumi (IQ)</span>
          <span class="flex detail" md-line><md-icon>phone</md-icon>(352) 871-7113</span>
          <span class="flex detail" md-line><md-icon>mail</md-icon><a href="mailto:iqbal.qaiyumi@gmail.com?subject=ICEC Rental Information">iqbal.qaiyumi@gmail.com</a></span>
        </md-card-content>

      </md-card>
    </div>
    <div class="card card-33">
      <md-card>
        <md-card-subtitle>ICEC Rental Documents</md-card-subtitle>
        <md-card-content>
          <div class="flex detail" md-line>
            <md-icon>insert_drive_file</md-icon>Rental Agreement <span>&nbsp;(</span>
            <a href="assets/documents/Rental_Agreement-Rev2013-08-31.pdf" target="blank">PDF</a><span>)</span>
          </div>
          <div class="flex detail" md-line>
            <md-icon>insert_drive_file</md-icon>ICEC Reservation Request Form <span>&nbsp;(</span>
            <a href="assets/documents/ICEC_Reservation_Request_Form.pdf" target="blank">PDF</a>&nbsp;/&nbsp;
            <a href="assets/documents/ICEC_Reservation_Request_Form.doc" target="blank">DOC</a><span>)</span>
          </div>
          <div class="flex detail" md-line>
            <md-icon>insert_drive_file</md-icon>ICEC-organized Event Reservation Form <span>&nbsp;(</span>
            <a href="assets/documents/ICEC_Event_Reservation_Form.pdf" target="blank">PDF</a>&nbsp;/&nbsp;
            <a href="assets/documents/ICEC_Event_Reservation_Form.doc" target="blank">DOC</a><span>)</span>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div class="card card-33">
      <gallery-card [item]="gallery" title="Gallery"></gallery-card>
    </div>
  </div>
  <h3>Salient Features</h3>
  <md-divider></md-divider>
  <ul>
    <li> Close to Shands and UF </li>
    <li> Clean and modern amenities </li>
    <li> Affordable rental rates </li>
    <li> Ideal for conferences, seminars, social and cultural events </li>
  </ul>

  <p>
    The auditorium occupies 10,000 square feet and can seat up to 400 persons. The spacious stage area lends itself to multiple
    uses and features a large drop-down projection screen, music system and stage lights, which are also available for renting.
  </p>
  <p>
    No cooking is allowed anywhere inside the building. However, the food-warming area containing microwave ovens, refrigerator
    and ice coolers, provides abundant space for handling food and beverages brought to the building.
  </p>
  <p>
    Other amenities available for rental include a prayer room, a game room, a TV room, and library room. These rooms on the
    second floor can accommodate up to 30 persons per room.
  </p>
  <p>
    The building features an elevator and is fully accessible. Meetings and seminars can be organized in a cozy & quiet atmosphere.
  </p>
</app-navigation>