<div>
  <md-toolbar color="primary" class="toolbar shadow">
    <a [routerLink]="['./home']">
      <span style="display: flex; flex-flow: row nowrap">
        <md-icon class="icon-20">spa</md-icon>
          ICEC  
      </span>
    </a>
    <span class="flex"></span>
    <a [routerLink]="['./about']"><span>About</span></a>
    <a [routerLink]="['./events']"><span>Events</span></a>
    <a [routerLink]="['./gallery']"><span>Gallery</span></a>
    <a [routerLink]="['./contact']"><span>Contact</span></a>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
   <md-menu x-position="before" #menu="mdMenu">
    <a md-menu-item [routerLink]="['./gallery']"><span>Center Rental Information</span></a>
    <a md-menu-item [routerLink]="['./gallery']"><span>Membership</span></a>
    <a md-menu-item [routerLink]="['./gallery']"><span>Youth Group</span></a>
    <a md-menu-item [routerLink]="['./gallery']"><span>Student Resources</span></a>
    <a md-menu-item [routerLink]="['./gallery']"><span>Continuing Medical Education</span></a>
  </md-menu>
  <div class="container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <footer>
      <md-toolbar color="accent" class="toolbar">
        1115 S.W. 13th Street, Gainesville, Florida 32608 (352) 379-2911
      </md-toolbar>
    </footer>
  </div>
</div>