<div>
  <md-toolbar color="primary" class="app-toolbar shadow">
    <a [routerLink]="['./home']"> <span class="flex app-flex"><md-icon class="icon-20">spa</md-icon>ICEC</span></a>
    <span class="flex"></span>
    <!--<a [routerLink]="['./about']"><span>About</span></a>
    <a [routerLink]="['./events']"><span>Events</span></a>
    <a [routerLink]="['./gallery']"><span>Gallery</span></a>
    <a [routerLink]="['./contact']"><span>Contact</span></a>-->
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <a md-menu-item [routerLink]="['./rental']"><span>Center Rental Information</span></a>
    <a md-menu-item [routerLink]="['./membership']"><span>Membership</span></a>
    <a md-menu-item [routerLink]="['./youth']"><span>Youth Group</span></a>
    <a md-menu-item [routerLink]="['./resources/student']"><span>Student Resources</span></a>
    <a md-menu-item [routerLink]="['./cme']"><span>Continuing Medical Education</span></a>
  </md-menu>
  <div class="app-ie-fix">
    <div class="app-container">
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
      <footer>
        <md-toolbar color="accent" class="app-toolbar">
          1115 S.W. 13th Street, Gainesville, Florida 32608 (352) 379-2911
        </md-toolbar>
      </footer>
    </div>
  </div>
</div>