.container{
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}

.content{
    margin: 4rem 0 0;
    flex-grow: 1;
}

.icon-20 {
  font-size: 1.25rem;
  color: white;
}

.ie-fix{
    display: flex;
}

.flex{
    flex-flow: row nowrap;
}

.toolbar {
    color: white;
}

.toolbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.toolbar a:hover {
    background-color: rgba(239, 108, 0, 0.8);
}

.toolbar span {
    margin-right: 1.25rem;
}

.toolbar.shadow {
    position: fixed;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}