<app-content [subtitle]="'Benefits, Categories, and Payment'" [title]="'Membership'" [loading]="loading1">

  <h3 class="first">Current Members</h3>
  <mat-divider></mat-divider>
  <div class="member">
    <div class="flex" mat-line>
      <mat-icon>group</mat-icon>
      <a [routerLink]="['/members/current/board']">ICEC Board Members</a>
    </div>
    <div class="flex" mat-line>
      <mat-icon>group</mat-icon>
      <a [routerLink]="['/members/current/regular']">ICEC Regular Members</a>
    </div>
    <div class="flex" mat-line>
      <mat-icon>group</mat-icon>
      <a [routerLink]="['/members/current/overall']">ICEC Donor / Founding Members</a>
    </div>
  </div>

  <div class="flex contact">
    <div class="card card-50">
      <mat-card>
        <mat-card-title>Membership, New and Renewal</mat-card-title>
        <mat-card-subtitle>Please fill membership form below and pay annual fees either by cash or online.</mat-card-subtitle>
        <mat-card-content>
          <div class="flex detail" mat-line>
            <mat-icon>description</mat-icon>
            <div>Membership Form (
              <a href="assets/documents/ICEC_Membership_Form.pdf" target="blank">PDF</a>&nbsp;/&nbsp;
              <a href="assets/documents/ICEC_Membership_Form-Mail.doc" target="blank">DOC</a>)</div>
          </div>
          <div>&nbsp;</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card card-50">
      <!-- <mat-card>
        <mat-card-title>Pay Annual Membership Fees Online</mat-card-title>
        <mat-card-subtitle>2.5% convenience charge is added to the total.</mat-card-subtitle>
        <mat-card-content>
          <div class="flex" mat-line>
            <mat-radio-group [(ngModel)]="paymentType">
              <mat-radio-button class="radio-btn" [value]="'pp'" aria-label="PayPal">
                <img class="radio-img padding-right" src="assets/pp-acceptance-small.png" alt="PayPal Acceptance">
              </mat-radio-button>
              <mat-radio-button class="radio-btn" [value]="'cc'" aria-label="Credit / Debit Card">
                <img class="radio-img" src="assets/cc-badges-mcvdam-small.png" alt="Credit Card Badges">
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="flex pp-item" mat-line *ngIf="paymentType == 'pp'">
            <div class="pp-item padding-right">Pay through your&nbsp;
              <a href="https://www.paypal.me/IndiaCenterGnvFL/102.50" target="blank">PayPal</a>&nbsp;account.
            </div>
            <a class="pp-item" href="https://www.paypal.me/IndiaCenterGnvFL/102.50" target="blank">
              <img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_paynow_107x26.png" alt="Pay Now">
            </a>
          </div>
          <form target="paypal" ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <div class="flex card-payment" mat-line *ngIf="paymentType == 'cc'">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="S36NWEERNN9TW">
              <mat-input-container class="input">
                <input type="hidden" name="on0" value="Enter child(ren)'s name & age">
                <input matInput placeholder="Enter Child(ren)'s name & age" name="os0" maxlength="200" />
              </mat-input-container>
              <div>
                <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_paynow_107x26.png" border="0" name="submit"
                  alt="PayPal - The safer, easier way to pay online!">
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-footer align="end" class="flex card-payment" mat-line>
          <span class="flex"></span>
          <span class="poweredby">powered by</span>
          <img class="poweredbyimg" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal Logo">
        </mat-card-footer>
      </mat-card> -->
    </div>
  </div>
  <h3>Categories of memberships</h3>
  <mat-divider></mat-divider>
  <ul>
    <li> Donor Member (donation of $5,000 or more) </li>
    <li>Founding Member (donation of $1,000 - $4,999) </li>
    <li>Regular Member (payment of $100 annual dues) </li>
    <li>Associate Member (students)</li>
    <li> Honorary Member</li>
  </ul>

  <h3>Benefits of membership</h3>
  <mat-divider></mat-divider>
  <div class="flex inset-5x">
    <div class="card card-50">
      <ul>
        <li> Maintain a strong and vibrant Indian community in Gainesville </li>
        <li> Voting and nomination rights for ICEC Board </li>
        <li> Free or Discounted entrance/participation fee to all ICEC events </li>
        <li> Invitation to members only events like Annual Picnic </li>
        <li> Members can only participate at Republic/Independence day events </li>
        <li> Free youth group membership </li>
        <li> Voting and nomination rights in Youth Group office bearers election. </li>
        <li> Discounted price for ICEC offered classes(Ex: SAT) </li>
        <li> Discounted price for Vendor booths at IndiaFest </li>
        <li> Preference to members at ICEC organized events for Vendor booths/Cultural programs....etc </li>
      </ul>
    </div>
    <div class="card card-25" *ngIf="!contacts">
      <mat-card>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content>
          <span class="flex" mat-line>
            <mat-icon>person</mat-icon>
          </span>
          <span class="flex" mat-line>
            <mat-icon>mail</mat-icon>
          </span>
          <span class="flex" mat-line>
            <mat-icon>phone</mat-icon>
          </span>
        </mat-card-content>
      </mat-card>
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
    <div class="card card-25" *ngFor="let contact of contacts">
      <mat-card>
        <mat-card-subtitle>{{contact.subtitle}}</mat-card-subtitle>
        <mat-card-content>
          <span class="flex" mat-line>
            <mat-icon>person</mat-icon>
            <span>{{contact.fullname}}</span>
          </span>
          <span class="flex" mat-line>
            <mat-icon>mail</mat-icon>
            <a href="mailto:{{contact.email}}?subject={{contact.membershipTerm}}">{{contact.email}}</a>
          </span>
          <span class="flex" mat-line>
            <mat-icon>phone</mat-icon>
            <span>{{contact.contact}}</span>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-content>