<app-content [title]="title || 'India Fest & Health Fair'" [subtitle]="subtitle" [loading]="loading1 || loading2 || loading3">

  <div class="flex first">
    <div class="card card-50">
      <md-card class="backdrop" *ngIf="event">
        <md-card-title>{{event.title}}</md-card-title>
        <md-card-content>
          <span class="flex detail" md-line><md-icon>date_range</md-icon><span>{{event.date}}</span></span>
          <span class="flex detail" md-line><md-icon>access_time</md-icon><span>{{event.time}}</span></span>
          <span class="flex detail" md-line><md-icon>place</md-icon><span>{{event.venue}}</span></span>
          <span class="flex detail" md-line *ngIf="event.address"><md-icon>map</md-icon><span>{{event.address}}</span></span>
        </md-card-content>
        <md-card-subtitle *ngIf="event.person || event.contact || event.email">Contact for General Information</md-card-subtitle>
        <md-card-content>
          <span class="flex detail" md-line *ngIf="event.person"><md-icon>person</md-icon><span>{{event.person}}</span></span>
          <span class="flex detail" md-line *ngIf="event.contact"><md-icon>phone</md-icon><span>{{event.contact}}</span></span>
          <span class="flex detail" md-line *ngIf="event.email"><md-icon>mail</md-icon><a href="mailto:{{event.email}}?subject={{event.subject}}">{{event.email}}</a></span>
        </md-card-content>
        <md-card-subtitle *ngIf="event.ps">{{event.ps}}</md-card-subtitle>
      </md-card>
    </div>
    <div class="card card-33">
      <app-gallery-card title="Gallery" [input]="input" [(loading)]="loading1" largeImg="true"></app-gallery-card>
    </div>
  </div>
  <p>India Fest & Health Fair is organized annually by ICEC since 1999. Some of the activities include: </p>
  <div class="resources">
    <div class="flex" md-line>
      <md-icon>star</md-icon>Indian Dances</div>
    <div class="flex" md-line>
      <md-icon>star</md-icon>Indian Cuisine</div>
    <div class="flex" md-line>
      <md-icon>star</md-icon>Indian Jewelry</div>
    <div class="flex" md-line>
      <md-icon>star</md-icon>Indian Art & Crafts</div>
    <div class="flex" md-line>
      <md-icon>star</md-icon>Traditional Indian Attire</div>
    <div class="flex" md-line>
      <md-icon>star</md-icon>Cultural Program</div>
  </div>

  <h3>For more information about {{title}} event, please contact</h3>
  <md-divider></md-divider>
  <div class="flex inset-15x">
    <div class="card card-33" *ngFor="let contact of contacts">
      <md-card>
        <md-card-title>{{contact.title}}</md-card-title>
        <md-card-content>
          <span class="flex detail" md-line><md-icon>person</md-icon><span>{{contact.fullname}}</span></span>
          <span class="flex detail" md-line><md-icon>mail</md-icon><a href="mailto:{{contact.email}}?subject={{contact.membershipTerm}}">{{contact.email}}</a></span>
          <span class="flex detail" md-line><md-icon>phone</md-icon><span>{{contact.contact}}</span></span>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <p>
    Want to bring fresh ideas to the table for {{title}}? Want to participate in or organize the next event?
    Contact us at <a href="mailto:IndiaFestGainesville@gmail.com?subject=Organize India Fest 2017">IndiaFestGainesville@gmail.com</a>.
  </p>

</app-content>