<app-content [title]="title || 'India Fest & Health Fair'" [subtitle]="subtitle" [loading]="loading1 || loading2 || loading3">

  <div class="flex first">
    <div class="card card-50">
      <mat-card class="backdrop" *ngIf="event">
        <mat-card-title>{{event.title}}</mat-card-title>
        <mat-card-content>
          <span class="flex detail" mat-line>
            <mat-icon>date_range</mat-icon>
            <span>{{event.date}}</span>
          </span>
          <span class="flex detail" mat-line>
            <mat-icon>access_time</mat-icon>
            <span>{{event.time}}</span>
          </span>
          <span class="flex detail" mat-line>
            <mat-icon>place</mat-icon>
            <span>{{event.venue}}</span>
          </span>
          <span class="flex detail" mat-line *ngIf="event.address">
            <mat-icon>map</mat-icon>
            <span>{{event.address}}</span>
          </span>
        </mat-card-content>
        <mat-card-subtitle *ngIf="event.person || event.contact || event.email">Contact for General Information</mat-card-subtitle>
        <mat-card-content>
          <span class="flex detail" mat-line *ngIf="event.person">
            <mat-icon>person</mat-icon>
            <span>{{event.person}}</span>
          </span>
          <span class="flex detail" mat-line *ngIf="event.contact">
            <mat-icon>phone</mat-icon>
            <span>{{event.contact}}</span>
          </span>
          <span class="flex detail" mat-line *ngIf="event.email">
            <mat-icon>mail</mat-icon>
            <a href="mailto:{{event.email}}?subject={{event.subject}}">{{event.email}}</a>
          </span>
        </mat-card-content>
        <mat-card-subtitle *ngIf="event.ps">{{event.ps}}</mat-card-subtitle>
      </mat-card>
    </div>
    <div class="card card-50">
      <mat-card>
        <mat-card-title *ngIf="flyers && flyers.length > 0">Flyers</mat-card-title>
        <mat-card-content>
          <div *ngFor="let flyer of flyers" class="flex detail" mat-line>
            <mat-icon>description</mat-icon>
            <div>
              <a href="assets/documents/{{flyer.link}}" target="blank">{{flyer.flyer}}</a>
            </div>
          </div>
        </mat-card-content>
        <mat-card-title *ngIf="forms && forms.length > 0">Application Forms</mat-card-title>
        <mat-card-content>
          <div *ngFor="let form of forms" class="flex detail" mat-line>
            <mat-icon *ngIf="form.doc || form.pdf">description</mat-icon>
            <div *ngIf="(form.doc && !form.pdf) || (!form.doc && form.pdf)">
                <a href="assets/documents/{{form.pdf || form.doc}}" target="blank">{{form.form}}</a>
                <b *ngIf="form.deadline">Deadline: {{form.deadline}}</b>
              </div>
              <div *ngIf="form.doc && form.pdf">{{form.form}} (
                <a href="assets/documents/{{form.pdf}}" target="blank">PDF</a>&nbsp;/&nbsp;
                <a href="assets/documents/{{form.doc}}" target="blank">DOC</a>)
                <b *ngIf="form.deadline">Deadline: {{form.deadline}}</b>
              </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card card-50">
      <app-gallery-card title="Gallery" [input]="input" [(loading)]="loading1" [largeImg]="true"></app-gallery-card>
    </div>
  </div>
  <p>India Fest & Health Fair is organized annually by ICEC since 1999. Some of the activities include: </p>
  <div class="resources">
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>Indian Dances</div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>Indian Cuisine</div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>Indian Jewelry</div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>Indian Art & Crafts</div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>Traditional Indian Attire</div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>Cultural Program</div>
  </div>

  <h3>For more information about {{title}} event, please contact</h3>
  <mat-divider></mat-divider>
  <div class="flex inset-15x">
    <div class="card card-33" *ngFor="let contact of contacts">
      <mat-card>
        <mat-card-title>{{contact.title}}</mat-card-title>
        <mat-card-content>
          <span class="flex detail" mat-line>
            <mat-icon>person</mat-icon>
            <span>{{contact.fullname}}</span>
          </span>
          <span class="flex detail" mat-line>
            <mat-icon>mail</mat-icon>
            <a href="mailto:{{contact.email}}?subject={{contact.membershipTerm}}">{{contact.email}}</a>
          </span>
          <span class="flex detail" mat-line>
            <mat-icon>phone</mat-icon>
            <span>{{contact.contact}}</span>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <p>
    Want to bring fresh ideas to the table for {{title}}? Want to participate in or organize the next event? Contact us at
    <a
      href="mailto:IndiaFestGainesville@gmail.com?subject=Organize India Fest 2017">IndiaFestGainesville@gmail.com</a>.
  </p>

</app-content>