<app-content [subtitle]="members.title || 'Administrative Structure and Membership'" [title]="'Members ' + (members.year || '')">

  <div class="member-form-flex">
    <div class="member-form-control">
      <md-input-container>
        <input md-input placeholder="Search" [(ngModel)]="filterTxt" name="filter" />
        <md-hint align="end">Showing {{filteredMembers().length}} / {{members.memberList.length}}</md-hint>
      </md-input-container>
    </div>
    <span class="flex"></span>
    <div class="member-form-control">
      <md-select placeholder="Select Member Type" [(ngModel)]="currentType" name="type">
        <md-option *ngFor="let type of memberTypes" [value]="type.value" (click)="onSelect(type.url)">
          {{ type.viewValue }}
        </md-option>
      </md-select>
    </div>
  </div>


  <div class="flex">
    <div class="card card-25" *ngFor="let member of filteredMembers()">
      <md-card>
        <md-card-header>
          <md-icon class="avatar" md-card-avatar>person</md-icon>
          <md-card-title md-line>{{member.fullname}}</md-card-title>
          <md-card-subtitle md-line><span *ngIf="member.title">{{member.title}} & </span> <span>{{member.membershipType}}</span></md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <span class="flex detail" md-line *ngIf="member.email"><md-icon>email</md-icon> <a href="mailto:{{member.email}}">{{member.email}}</a></span>
          <span class="flex detail" md-line *ngIf="member.contact"><md-icon>phone</md-icon> {{member.contact}}</span>
          <span class="flex detail" md-line *ngIf="member.membershipTerm"><md-icon>card_membership</md-icon> {{member.membershipTerm}}</span>
        </md-card-content>
      </md-card>
    </div>
    <div *ngIf="filteredMembers().length == 0">
      <h3>No Data Available</h3>
    </div>
  </div>


</app-content>