<div class="alert">
  <p>
    India Fest is an annual event designed to showcase our beautiful culture and food.
    Due to evolving public health risks related to coronavirus (COVID-19), India Fest committee and ICEC has made the
    decision to postpone the India Fest scheduled for March 14, 2020 at Bo Diddley plaza. We are doing this out of an
    abundance of caution regarding COVID-19, and in order to prioritize the health and safety of everyone who attends
    our events. Your peace of mind is incredibly important to us.
  </p>
  <p>More details will be forthcoming.</p>
  <p>
    Sincerely,
    <br />
    India Fest committee & ICEC board
  </p>
</div>
