<app-content title="Resources" subtitle="Student Resources" [loading]="loading || loading1 || loading2">

  <!--<h3 class="first">Classes and Extra-curricular activities</h3>
  <mat-divider></mat-divider>-->
  <div class="flex inset-15x">
    <div class="card card-50">
      <mat-card *ngIf="event">
        <mat-card-title>{{event.title}}</mat-card-title>
        <mat-card-content>
          <span class="flex detail" mat-line><mat-icon>date_range</mat-icon><span>{{event.date}}</span></span>
          <span class="flex detail" mat-line><mat-icon>access_time</mat-icon><span>{{event.time}}</span></span>
          <span class="flex detail" mat-line><mat-icon>place</mat-icon><span>{{event.venue}}</span></span>
          <span class="flex detail" mat-line *ngIf="event.address"><mat-icon>map</mat-icon><span>{{event.address}}</span></span>
        </mat-card-content>
        <mat-card-subtitle *ngIf="event.person || event.contact || event.email">Contact for General Information</mat-card-subtitle>
        <mat-card-content>
          <span class="flex detail" mat-line *ngIf="event.person"><mat-icon>person</mat-icon><span>{{event.person}}</span></span>
          <span class="flex detail" mat-line *ngIf="event.contact"><mat-icon>phone</mat-icon><span>{{event.contact}}</span></span>
          <span class="flex detail" mat-line *ngIf="event.email"><mat-icon>mail</mat-icon><a href="mailto:{{event.email}}?subject={{event.subject}}">{{event.email}}</a></span>
        </mat-card-content>
        <mat-card-subtitle *ngIf="event.ps">{{event.ps}}</mat-card-subtitle>
      </mat-card>
    </div>
    <div class="card card-50">
      <app-gallery-card title="Gallery" [input]="input" [(loading)]="loading1" [largeImg]="true"></app-gallery-card>
    </div>
  </div>

  <h3>Indian Student Groups at UF</h3>
  <mat-divider></mat-divider>
  <div class="resources">
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <a href="https://www.facebook.com/groups/2200309187/" target="blank">Indian Student Association</a>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <a href="https://www.facebook.com/ufigsa/" target="blank">Indian Graduate Students Association</a>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <a href="http://www.ashanet.org/uflorida/" target="blank">Asha for Education</a>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <a href="http://www.clas.ufl.edu/chitra/" target="blank">CHiTra (Center for the Study of Hindu Traditions)</a>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <a href="http://www.spicmacay-gators.org/" target="blank">SPICMACAY (Society for the Promotion of Indian Classical Music And Culture Amongst Youth)</a>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <a href="https://ufl.collegiatelink.net/organization/cricket/" target="blank">Gator Cricket Club</a>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <a href="https://www.facebook.com/eClubUF/" target="blank">The Entrepreneurship Club at UF</a>
    </div>
  </div>

  <h3>Student outreach programs offered through ICEC</h3>
  <mat-divider></mat-divider>

  <div class="resources">
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <a href="./resources#EFAP">Emergency financial assistance, scholarships and zero-interest loans</a>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <span>Cultural activities and social functions</span>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <span>Involving Indian students in the local community</span>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <span>Visits of Indian students to host families in Gainesville during holidays</span>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <span>Provision of support during times of stress and crisis</span>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <span>Organization of a physician support network for health emergencies</span>
    </div>
    <div class="flex" mat-line>
      <mat-icon>star</mat-icon>
      <span>Advise and assist the Indian student organizations at the University of Florida</span>
    </div>
  </div>

  <h3 id="EFAP">Educational Financial Assistance Program</h3>
  <mat-divider></mat-divider>
  <p>
    The Educational Financial Assistance program was created in 1996 from a generous donation by Dr. Rasik Nagda of Ocala, FL.
    The purpose of this program is to give interestfree loans (up to $2000.00 per person) to students of Indian origin, who
    have difficulty in completing their education without financial help but are in good academic standing. Financial aid
    is also given in an emergency situation where not only the education, but also the very sustenance of the student is
    at risk. This, for e.g. includes situations wherein the student needs funds to pay for apartment rent, food or medical
    care. To date, about 40 students have been helped under this program.
  </p>
  <p>
    The ICEC Educational Loan Committee approves all loans, awards, scholarships and other financial assistance. The committee
    is comprised of the following members: Shio Agarwal, Salil Gokhale, Pramod Khargonekar, Rasik Nagda, Vasudha Narayanan,
    Bhavani Sankar (Chair) and Ramakant Srivastava, Eligible students may apply for a loan at any time.
  </p>
  <div class="flex">
    <div class="card card-50" *ngIf="!contacts">
      <mat-card>
        <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        <mat-card-content>
          <span class="flex detail" mat-line><mat-icon>person</mat-icon></span>
          <span class="flex detail" mat-line><mat-icon>mail</mat-icon></span>
          <span class="flex detail" mat-line><mat-icon>phone</mat-icon></span>
        </mat-card-content>
      </mat-card>
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
    <div class="card card-50" *ngFor="let contact of contacts">
      <mat-card>
        <mat-card-subtitle>{{contact.subtitle}}</mat-card-subtitle>
        <mat-card-content>
          <span class="flex detail" mat-line><mat-icon>person</mat-icon><span>{{contact.fullname}}</span></span>
          <span class="flex detail" mat-line><mat-icon>mail</mat-icon><a href="mailto:{{contact.email}}?subject={{contact.membershipTerm}}">{{contact.email}}</a></span>
          <span *ngIf="contact.contact" class="flex detail" mat-line><mat-icon>phone</mat-icon><span>{{contact.contact}}</span></span>
          <div class="flex detail" mat-line>
            <mat-icon>description</mat-icon>Application Form<span>&nbsp;(</span>
            <a href="assets/documents/Educational_Financial_Assistance_Program.pdf" target="blank">PDF</a><span>)</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-content>