<app-navigation [title]="'ICEC Bylaws'">
  <div class="bylaws">
    <h3 style="text-align: center;">AMENDED AND RESTATED </h3>
<h3>BYLAWS OF THE INDIA CULTURAL AND EDUCATION CENTER, INC., <br/>A Florida corporation</h3>
<md-divider></md-divider>
<p>
  The following Amended and Restated Bylaws of The India Cultural and Education Center, Inc., a Florida corporation, were duly
  adopted in accordance with the requirements of Article II of the original Bylaws of the corporation.
</p>

<h3>ARTICLE I - NAME, INCORPORATION, TAX EXEMPT STATUS, PURPOSES AND POWERS</h3>
<md-divider></md-divider>
<p><b>Section 1.1.</b>
  <span class="subtitle">Name.</span> The name of this Corporation shall be The India Cultural and Educational Center, Inc.
  and shall from time to time be referred to as ICEC. </p>

<p><b>Section 1.2.</b>
  <span class="subtitle">Incorporation.</span> The Corporation is a not-for-profit corporation organized and existing under
  the laws of the State of Florida.
</p>

<p><b>Section 1.3.</b>
  <span class="subtitle">Tax Exempt Status.</span> The Corporation is intended to be an organization which is exempt from
  federal income taxation under Code Section 501(C)(6) of the Internal Revenue Code of 1954 and the Regulations thereunder
  as the same now exist or as they may hereafter be amended from time to time.
</p>

<p><b>Section 1.4.</b>
  <span class="subtitle">Purposes.</span> The India Cultural and Education Center (ICEC) has been formed for the purpose
  of enhancing the understanding of Indian culture and to provide educational support to minors and college students. In
  addition, this organization will provide support to the students and others interested in the culture, history, philosophy,
  languages and religions of India. In order to accomplish these goals, ICEC will:
</p>
<div class="subsection">
  <span>(A)</span>
  <span class="intend-right">Provide assistance in the educational endeavors of minors and college students;</span>
</div>
<div class="subsection">
  <span>(B)</span>
  <span class="intend-right">Promote Indo-US cultural interaction by developing appropriate cultural and educational programs;</span>
</div>
<div class="subsection">
  <span>(C)</span>
  <span class="intend-right"> Provide opportunities to its members to contribute towards the betterment of the community at large, with special emphasis on the disadvantaged minors. 
    <p>
    Notwithstanding any other provision of these Bylaws, the purposes for which the corporation is organized are exclusively charitable, cultural, religious, and education within the meaning of Section 501 (c)(3) of the Internal
    Revenue Code of 1986 (or corresponding provisions of any future United States Internal Revenue Law) and the corporation shall not carry on any other activities not permitted to be carried on by a corporation exempt from federal income tax under Section
    501 (c) (3) of the Internal Revenue Code of 1986 (or the corresponding provision of any future United States Internal Revenue Law), or by a corporation, contributions to which are deductible under Section 170(c)(2) of the
    Internal Revenue Code of 1986 (or the corresponding provisions of any future United States Internal Revenue Law).
    </p>
  </span>
</div>

<p><b>Section 1.5.</b>
  <span class="subtitle">Powers.</span>
  The Corporation shall have the powers that may be stated in its Articles of Incorporation, and shall have and exercise all rights and powers as
  are now or may hereafter be granted by law, including, but not limited to, the power to do all acts necessary or proper for the administration of
  its affairs and the attainment of its purposes. 
</p>


<h3>ARTICLE II - OFFICES</h3>
<md-divider></md-divider>

<p><b>Section 2.1.</b>
  <span class="subtitle">Principal Office.</span>
   The principal office of this
    Corporation in the State of Florida shall be
    located in the County of Alachua.
    Section 2.2. Other Offices. The Corporation may have such other
    offices, either within or without the County of
    Alachua, State of Florida, as the Board of
    Directors may from time to time determine. 
</p>

<p><b>Section 2.2.</b>
  <span class="subtitle">Other Offices.</span>
    The Corporation may have such other
    offices, either within or without the County of
    Alachua, State of Florida, as the Board of
    Directors may from time to time determine. 
</p>

<h3>ARTICLE III - LIMITATIONS OF METHODS</h3>
<md-divider></md-divider>

<p><b>Section 3.1.</b>
  <span class="subtitle">Limitation of Methods.</span>
    ICEC shall be non-partisan,
    non-sectional and non-sectarian and shall take no
    part or lend its influence or facilities to the
    nomination, election, or appointment of any
    candidate for public office. 
</p>

<h3>ARTICLE IV - MEMBERSHIP</h3>
<md-divider></md-divider>

<p><b>Section 4.1.</b>
  <span class="subtitle">Eligibility.</span>
    Any person, corporation, association,
  partnership, or estate entitled to membership who
  is qualified for membership shall be admitted as
  hereinafter provided. 
</p>

<p><b>Section 4.2.</b>
  <span class="subtitle">Classes of Membership.</span>
   The Corporation shall have five (5) classes of membership as follows:
</p>

<div class="subsection">
  <span>(A)</span>
  <span class="intend-right"><span class="underline">Donor Members</span> are those individuals who have
  made a donation of at least $5000.00 to ICEC
  and are interested in supporting the goals of
  ICEC. Donor Members are eligible to vote in
  all elections of members to the Executive
  Board.</span>
</div>
<div class="subsection">
  <span>(B)</span>
  <span class="intend-right"><span class="underline">Founding Members</span>
    are those individuals who
  have made a donation of $1000.00 to $4,999 to
  ICEC and are interested in supporting the
  goals of ICEC. Founding Members will be
  eligible to vote for election of Founding
  Members to the Executive Board.
  </span>
</div>
<div class="subsection">
  <span>(C)</span>
  <span class="intend-right"><span class="underline">Regular Members</span>
   are those individuals who pay
  their annual regular membership dues to ICEC
  and are interested in supporting the goals of
  ICEC. They are eligible to vote for the
  regular members to the Executive Board.
  </span>
</div>
<div class="subsection">
  <span>(D)</span>
  <span class="intend-right"><span class="underline">Honorary Members</span>
    shall be prominent members of
  society who are interested in the goals of
  ICEC and have made valuable contributions to
  society at large. They are not required to
  pay any membership fees. Any Donor, Founding
  or Regular Member can nominate a distinguished
  person for this membership to Executive Board.
  At the recommendation of the Board, the
  President shall bestow the Honorary
  Membership. These members are not eligible to
  vote or to be a candidate for office of the
  Board in elections.
  </span>
</div>
<div class="subsection">
  <span>(E)</span>
  <span class="intend-right"><span class="underline">Associate Members</span>
    are the students interested
  in the Indian culture. They are eligible for
  membership in ICEC by paying the associate
  membership dues on a yearly basis. They are
  not eligible to vote or be a candidate for
  office or the Board in elections. 
  </span>
</div>


<h3>ARTICLE V - EXECUTIVE BOARD</h3>
<md-divider></md-divider>

<p><b>Section 5.1.</b>
  ICEC shall initially be governed by a fifteen-member
  Executive Board (the “Board”). Nine of the members of
  the Board will be from Donor Members and shall be elected
  by Donor Members; four of these members will be Founding
  Members and shall be elected by Donor and Founding
  Members; two of these members will be Regular Members and
  shall be elected by all Members. Each member will serve
  for a period of three years. Notwithstanding the
  provisions of the Articles of Incorporation, the Board of
  Directors shall never be comprised of less than fifteen
  (15) persons. Prior to each annual meeting of the
  members, the Board shall determine by adopted resolution
  the size of the Board for the coming year, but in no
  event shall the Board be comprised of less than fifteen
  (15) persons nor more than seventeen (17) persons.
</p>
<p>
  Upon election as the initial Board, the initial Board of
  shall be randomly divided into three (3) equal groups of
  five (5) persons each with the groups being randomly
  designated as Group One (1) Directors, Group Two (2)
  Directors, and Group Three (3) Directors. Group One (1)
  Directors shall serve for a term of three (3) years;
  Group Two (2) Directors shall serve for a term of two (2)
  years; and Group Three (3) Directors shall serve for a
  term of one (1) year. At each annual election the
  successors to the Directors of Groups One, Two or Three
  as initially established by these By-laws, whose term
  expires in that year, shall be elected for a three (3)
  year term. If it is determined by the Board of Directors,
  by resolution as herein provided, to increase the size of
  the Board to more than fifteen (15) Directors, then all
  such additional Directors shall be designated Group Four
  (4) Directors and shall serve for a term of one (1) year.
  At each annual election the successors to the Group Four
  (4) Directors, if any, shall be elected for a one (1)
  year term.
</p>
<p>
  The Board will be responsible for managing all aspects of
  the Corporation. The members of the Board will elect a
  President of the Corporation Vice President, Secretary
  and Treasurer. The President can not serve more than two
  consecutive three (3) year terms (i.e. six consecutive
  years). All office bearers shall be Donor members. 
</p>

<p><b>Section 5.2.</b>
    The Board shall meet <span class="underline">at least Quarterly</span> at a time
  and place designated by the President. Written
  Notice of the meeting and its agenda shall be
  delivered to the Board members at least fifteen
  (15) days in advance of the meeting. A special
  meeting may be called by any Donor Member, at any
  time by giving all the other Board members at
  least five (5) days written notice setting forth 
  the time and specific purpose of the meeting. All
  Board members shall attend at least 75% of the
  meetings of the Board. If a member fails to attend
  75% of the meetings, the Board may replace such
  member with an alternate member who will serve as
  a Board Member for the remainder of the term of the
  dismissed Member. A replacement Board Member shall
  be of the same classification as member he is
  replacing, i.e. either a Donor Member, Founding
  Member or Regular Member. 
</p>

<p><b>Section 5.3.</b>
  A majority of the voting Donor and Founding Members
  on the Board shall constitute a quorum for the
  transaction of business at any meeting of the
  Board; but if less than a majority of the Donor
  Members are present at such meeting, a majority of
  the Donor Members present may adjourn the meeting
  from time to time without further notice.
</p>

<p><b>Section 5.4.</b>
  The Board shall act on the business of the
  corporation by a majority vote of the Members of
  the Board present and voting if a quorum is
  present, except as otherwise herein provided.
</p>

<p><b>Section 5.5.</b>
  If business is to be conducted at times other than
  at the meeting of the Board, telephone or mail
  ballots may be distributed or solicited by the
  Secretary at the direction of the President.
  Action on such business shall be by a majority of
  those voting either in person, by mail or by
  telephone.
</p>

<p><b>Section 5.6.</b>
  Board members acting in that capacity shall not
  receive salary or other compensation for their
  services. By resolution of the Board, out-of-pocket
  expenses incurred by a Member for attendance at
  meetings, or for carrying out other matters on
  behalf of the Board or the Corporation, if any, may
  be reimbursed to such member.
</p>

<p><b>Section 5.7.</b>
  Any decision of the Board can be overruled by a 75%
  majority vote of the Board members.
</p>

<h3>ARTICLE VI - ADVISORY BOARD OF DONORS</h3>
<md-divider></md-divider>

<p>
    The Advisory Board of Donors shall have nine members who
  will be appointed by the Donor Members. All members of
  the Advisory Board will be selected from ex-officers of
  ICEC and donors of more than $10,000.00. They will be
  selected for a three year term and will meet with the
  Board at least once a year by invitation from the Board.
  Advisory Board Members shall have no voting rights and
  shall act solely in an advisory capacity to the Board. 
</p>

<h3>ARTICLE VII - OFFICERS</h3>
<md-divider></md-divider>


<p><b>Section 7.1.</b>
  Officers of the corporation shall be the President,
  Vice President, Treasurer and Secretary. These
  officers shall oversee the operation of the
  corporation. 
</p>

<p><b>Section 7.2.</b>
  The President shall perform the usual duties of
  that office. He/she shall be the corporation’s
  legal representative in all matters. In addition,
  the President shall appoint on an annual basis
  various Area Coordinators in and out of the State
  of Florida with the advice and consent of the Board
  Members. The Board will review the support
  activities of the Area Coordinators on an annual basis.
</p>
<p>
  The President (in his/her absence, the Vice
  President) shall preside at all the meetings of the
  Board. In addition, the President (in his/her
  absence, his/her designee or the Vice President)
  shall attend all meetings of the executive Board.
  The President will be an ex-officio member of all
  committees of ICEC. 
</p>

<p><b>Section 7.3.</b>
  The Vice President shall serve for the President in
  his absence.
</p>

<p><b>Section 7.4.</b>
  The Treasurer shall keep all the accounts, collect
  the dues and the donations and pay the bills as
  approved by the President of the Board and maintain
  the financial records of the corporation in
  conformity with the procedures of Article 10. The
  Treasurer shall issue a yearly financial statement
  during the month of January and prepare whatever
  financial records are required by appropriate
  governmental bodies. 
</p>

<p><b>Section 7.5.</b>
  The Officers shall be elected by the Board and
  shall serve three-year terms at the will of the
  members of Board of ICEC. 
</p>

<p><b>Section 7.6.</b>
  The President is authorized to appoint, if
  necessary, an Assistant Secretary and/or Assistant
  Treasurer with well-defined responsibilities from
  any membership category in order to provide extra
  support.
</p>

<p><b>Section 7.7.</b>
    The Secretary shall prepare and maintain the
  minutes of all the Board meetings. 
</p>

<h3>ARTICLE VIII - STANDING COMMITTEES</h3>
<md-divider></md-divider>


<p><b>Section 8.1.</b>
  The Nomination, Election and Bylaws Committee: This
  committee shall be appointed by the President and
  will consist of five Donor Members and Founding
  Members including the Chairperson. This committee
  will be chaired by a member of the Board. This
  committee will be responsible for reviewing,
  screening and selecting the candidates for
  membership to the Board. They will distribute the
  ballots and relevant material to all the voting
  Donor, Founding and Regular) members by October 1
  of each year. The committee will receive, by mail,
  the ballots and declare the names of elected
  members of the Board at the annual meeting each
  year. The elected members will assume their offices
  on January 1 of the following year.
</p>
<p>
  This committee will also receive, screen and review
  the nominations for membership to the Board
  whenever necessary. The Committee will send the
  ballots and the necessary material to all Donor,
  Founding and Regular Members for the election of
  members to the Board as described in Article 5,
  Section 1.
</p>
<p>
  This committee will also review bylaws and make
  necessary recommendations for changes in bylaws to
  the Board. 
</p>

<p><b>Section 8.2.</b>
  Communication Committee: The President of the
  Board shall appoint a three member committee with
  an Editor, Co-editor and one other member. The
  Editor shall be an elected member of the Board.
  This committee shall prepare, publish and mail a
  newsletter at intervals directed by the Board and
  screen the messages to be sent to ICEC Listserv.
</p>

<p><b>Section 8.3.</b>
  Membership and Directory Committee: The Board will
  appoint a three member committee with a member of
  the Board serving as the Chairperson of the 
  committee. This committee shall endeavor to
  increase the membership of ICEC, shall send
  application forms to interested individuals, and
  collect the annual dues to be forwarded to the
  Treasurer of ICEC. This committee shall publish,
  once a year, a directory of the names, addresses
  and phone numbers of all the members of ICEC.
</p>

<p><b>Section 8.4.</b>
  The Committee for Community Service and Interaction
  Service: The Board shall appoint a three member
  committee to be chaired by a member of the Board.
  This committee shall develop and implement programs
  for community service and community interactions.
</p>

<p><b>Section 8.5.</b>
  Cultural Programs Committee: The Board will appoint
  an eleven-member committee with a member of the
  Board serving as its Chair. This committee shall
  plan and implement cultural activities and the
  annual India Fest. 
</p>

<p><b>Section 8.6.</b>
  Education Committee: The Board will appoint a two
  member committee with a member of the Board serving
  as the Chair. This committee shall work closely
  with Indian Student Association and youth group to
  enhance the cultural and educational growth of the
  children and students. 
</p>

<p><b>Section 8.7.</b>
  Youth Group Committee: The Board will appoint a two
  member committee with a member of the Board serving
  as the chair. This committee will work with
  children under the age of eighteen to enhance the
  cultural and educational growth of the children.
</p>

<p><b>Section 8.8.</b>
  Building Maintenance Committee: The Board will
  appoint a five-member committee with a member of
  the Board serving as the Chair to oversee the
  maintenance of the ICEC building and the old house
  on the premises. This committee will also manage
  the rental of the building. 
</p>

<p><b>Section 8.9.</b>
  Continuing Medical Education Committee: The Board
  will appoint a nine member committee of physicians
  with a member of the Board as Chair to organize
  annual Continuing Medical Education Seminars. 
</p>

<p><b>Section 8.10.</b>
  ICEC Educational Scholarship and Loan Committee:
  The Board will appoint a five member committee with
  a member of the Board as Chair. The preferred
  members of this committee should be the donors to
  this fund and Donor members who are in academics.
</p>

<p><b>Section 8.11.</b>
  The Chairperson of any Standing Committee may
  appoint, if necessary, subcommittees to perform
  various tasks related to the functions of that 
  committee.
</p>

<h3>ARTICLE IX - MEETINGS AND ELECTIONS</h3>
<md-divider></md-divider>

<p><b>Section 9.1.</b>
  There shall be an annual meeting in January of
  each year of all Members of ICEC. The meeting
  date, time and place shall be announced in the
  ICEC newsletter and mailed to all members at least
  four weeks before the meeting.
</p>

<p><b>Section 9.2.</b>
  The agenda for the annual meeting of the ICEC shall
  include the following: a) The minutes of the
  previous meeting; b) President’s Report, c) Results
  of the elections, d) Report of the Treasurer, e)
  Reports of the Standing Committees, f) Reports of
  the special committees appointed by the President,
  and g) Any other business to come before the
  meeting. 
</p>

<p><b>Section 9.3.</b>
  The election of members of the Board will be
  conducted by mail. The Nominating Committee will
  send to all voting members, ballots containing the
  candidates’ names. It will also provide a brief
  biographical sketch of each candidate supplied by
  the candidate or his/her representative. The
  Nominating Committee will open the ballots in the
  presence of candidates or their representatives, do
  the counting, and declare the candidates receiving
  the highest number of votes in each category as
  elected members of the Executive Board. In the
  event of a tie, the President of the Executive
  Board shall cast the deciding vote. 
</p>

<p><b>Section 9.4.</b>
  For voting purposes, the family membership in any
  category shall entitle each family to one vote in that
  category.
</p>

<h3>ARTICLE X - FINANCES</h3>
<md-divider></md-divider>

<p><b>Section 10.1.</b>
  ICEC will maintain at least six (5) separate
  accounts: 1) the Operating Account, 2) Continuing
  Medical Education Account, 3) ICEC Youth Group
  Account, and two (2) ICEC Educational Scholarships
  and Loan Accounts, one as an operating account and
  one as a reserve account. The Treasurer of the
  ICEC, in December of each year, will submit to the
  Board, the financial information for the year. The
  Board can utilize the funds generated by the
  membership dues and various activities to conduct
  the business of the Corporation. 
</p>
<p><b>Section 10.2.</b>
  The annual dues of Regular and Associate Members
  will be established by the Board.
</p>
<p><b>Section 10.3.</b>
  All expenses from the Operating Account shall be
  approved by the Board. All checks from the
  Operating Account can be signed either by the
  Treasurer, President or a designated Executive
  Board member appointed by the President.
</p>
<p><b>Section 10.4.</b>
  No member to any office shall be paid any salary or
  stipend. However, appropriate expenses for postage,
  stationery, etc., for conducting the business, will
  be reimbursed.
</p>
<p><b>Section 10.5.</b>
  The Board and Individual Committees shall make
  decisions by a simple majority vote.
</p>

<h3>ARTICLE XI - AMENDMENT OF BYLAWS</h3>
<md-divider></md-divider>


<p>
  An amendment to the bylaws can be submitted to the
  Board by any Donor or Founding Member with the
  endorsement of five more such members. The bylaws
  may be altered or amended by ICEC Donor Members and
  Founding Members by two thirds affirmative vote,
  provided a copy of the proposed amendment and/or
  recommendation from the Nomination, Election and
  Bylaws Committee is sent to these members by mail,
  at least two weeks prior to voting.
</p>

<h3>ARTICLE XII - RESIGNATION</h3>
<md-divider></md-divider>
<p>
  If a member of the Board or other standing
  committees wishes to resign, a letter of
  resignation shall be submitted to the Board. Such
  resignation shall be discussed in the Board meeting
  and be effective upon the written acceptance by the
  majority of the Board members. 
</p>

<h3>ARTICLE XIII - REMOVAL</h3>
<md-divider></md-divider>
<p>
  A Board Member or standing committee member can be
  removed at any time by a vote of at least twothirds
  of the members of the Board.
</p>
<h3>ARTICLE XIV - VACANCY</h3>
<md-divider></md-divider>
<p>
  In case of a vacancy on the Board, the remaining
members shall appoint a successor of the same
membership category to fulfill the unexpired
portion of the term by an affirmative vote of the
majority of the Board. The same procedure will be
followed by the other standing committees to fill
any unexpected vacancy. 
</p>

<h3>ARTICLE XV - AMENDMENT OF THE ARTICLES OF INCORPORATION</h3>
<md-divider></md-divider>
<p>
    The Articles of Incorporation may be amended in the
  following manner:
</p>

<div class="subsection">
  <span>1)</span>
  <span class="intend-right">
    A proposed amendment shall be presented in
    writing to the Secretary by a minimum of twenty
    (20) Donor and Founding Members.
  </span>
</div>
<div class="subsection">
  <span>2)</span>
  <span class="intend-right">
    The Secretary shall present the proposed
    amendment to the Board as well as to the
    Nomination, Election and Bylaws Committee for
    consideration.
  </span>
</div>
<div class="subsection">
  <span>3)</span>
  <span class="intend-right">
    The Board shall forward the proposed amendment,
    along with any recommendation of the Nomination,
    Election and Bylaws Committee to all Donor and
    Founding Members.
  </span>
</div>
<div class="subsection">
  <span>4)</span>
  <span class="intend-right">
    The proposed amendment shall then be adopted
    upon a three-fourths affirmative vote of the Donor
    and Founding Members. 
  </span>
</div>

<h3>ARTICLE XVI - DISSOLUTION</h3>
<md-divider></md-divider>
<p><b>Section 16.1.</b>
  This corporation may be dissolved by an affirmative
  vote of at least three fourth (3/4) of the Donor
  and Founding Members or otherwise by operation of law.
</p>

<p><b>Section 16.2.</b>
  Upon dissolution of the corporation, the Board
  shall, after paying or making provision for the
  payment of all the liabilities of the corporation,
  dispose of all assets of the Corporation
  exclusively for the purposes of the Corporation in
  such manner, or to an organization or organizations
  organized and operated exclusively for charitable,
  educational, cultural, religious, or scientific
  purposes as shall at the time qualify as an exempt
  organization of organizations under Section 501
  (c)(3) of the Internal Revenue Code of 1986 (or the
  corresponding provision of any future United States
  Internal Revenue Law), as the Board of shall
  determine. Any of such assets not so disposed of
  shall be disposed of by a Circuit Court of the
  County in which the principal office of the
  Corporation is then located, or similar Court if no
  Circuit Court exists in such applicable area,
  exclusively for such purposes or to such
  organization or organizations, as said Court shall
  determine, which are organized and operated
  exclusively for such purposes.
</p>
<p>
  However, regardless of any other provision of the
  Articles of Incorporation or of the By-Laws, no
  assets shall be disposed of, whether by the Board
  or by the Circuit Court or other similar Court,
  except for charitable, educational, cultural,
  religious, or scientific purposes under the
  provisions of Section 501 (c) (3) and Section 170
  (c) (2) or the Internal Revenue Code of 1986 (or
  corresponding provisions of any future United
  States Internal Revenue Law). 
</p>
<p>
    Notwithstanding the foregoing provisions of this
  Section, upon dissolution of the Corporation, the
  Board shall, after paying or making provision for
  the payment of all the liabilities of the
  Corporation, transfer the remaining assets to the
  University of Florida Foundation to be held as a
  separate account. These funds will be used by UF
  Foundation as scholarships or emergency financial
  assistance for students engaged in studies related
  to the Country of India, or who are traveling to
  India to live there and to study the culture of
  India. The details of the program and the selection of recipients will be determined by a
  committee of five professors at University of
  Florida engaged in studies related to the Country of India.
</p>

<h3>ARTICLE XVII - SEAL</h3>
<md-divider></md-divider>
<p>
    The corporation shall have an official seal,
  setting forth the name of the corporation. Such
  seal shall be affixed to such corporation
  instruments as may be law or governmental
  regulations be required or is deemed necessary or
  appropriate by the officers of the corporation; but
  no deed or instrument of the corporation, otherwise
  duly authorized shall beheld valid or
  insufficiently executed for want of such a seal. 
</p>

<h3>ARTICLE XVIII - WAIVER OF NOTICE</h3>
<md-divider></md-divider>

<p>
    Whenever any notice is required to be given under
  the provisions of the Florida Non-Profit
  Corporation Act on its provisions of the Articles
  of Incorporation or the Bylaws of the Corporation,
  a waiver thereof in writing signed by the person or
  persons, entitled to such notice whether before or
  after the time stated therein, shall be deemed
  equivalent to the giving of such notice. 
</p>

<h3>ARTICLE XIX - FISCAL YEAR</h3>
<md-divider></md-divider>
<p>
    The fiscal year of the corporation shall begin on the
  first day of January and end on the last day of December
  in each year unless otherwise changed by resolution of
  the Board of Trustees. 
</p>

<h3>ARTICLE XX - CERTIFICATION</h3>
<md-divider></md-divider>
<p>
  I, the undersigned, do certify that these Bylaws have
  been adopted by the Board of ICEC as submitted. 
</p>

<p>&nbsp;</p>
<p><span class="signature" style="border-top:solid 1px">President of the Board</span></p>

<p>
  These By-laws were adopted by the Board of Directors on the
Second day of January, 2007.
</p>

<p>&nbsp;</p>
<p><span class="signature">President</span></p>

<p>&nbsp;</p>
<p><span class="signature">Vice President</span></p>

<p>&nbsp;</p>
<p><span class="signature">Secretary</span></p>

<p>&nbsp;</p>
<p><span class="signature">Treasurer</span></p>

</div>


</app-navigation>