<md-sidenav-layout>
<md-sidenav align="start" mode="side" #sidenav>
      <md-nav-list> 
        <div class="nav-header">
          <span md-subheader>Navigation</span>
          <button  md-icon-button (click)="closeSidenav()">
            <md-icon>close</md-icon>
          </button>
        </div>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/home']">Home</a></md-list-item>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/about']">About</a></md-list-item>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/home']">Center Rental Information</a></md-list-item>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/home']">Membership</a></md-list-item>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/home']">Student Resources</a></md-list-item>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/events']">Community Events</a></md-list-item>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/home']">Continuing Medical Education (CME)</a></md-list-item>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/home']">India Fest</a></md-list-item>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/gallery']">Photo Gallery</a></md-list-item>
        <md-divider></md-divider>
        <md-list-item><a [routerLink]="['/contact']">Contact US</a></md-list-item>
        <md-divider></md-divider>

      </md-nav-list>
      
  </md-sidenav>
  <header (click)="toggleSidenav()">
    <md-list class="vertical" [class.open]="isSidenavOpen">
      <md-list-item class="vertical-nav">
        <span md-line>Navigation</span> <md-icon>expand_more</md-icon>
      </md-list-item>
    </md-list>
    <h1>{{title}}</h1>
  </header>
  <div class="min-height">
    <ng-content></ng-content>
  </div>
  </md-sidenav-layout>