<md-sidenav-layout>
<md-sidenav align="start" mode="side" #sidenav>
      <md-nav-list> 
        <div class="nav-header">
          <span md-subheader>Navigation</span>
          <button  md-icon-button (click)="closeSidenav()">
            <md-icon>close</md-icon>
          </button>
        </div>
        <md-divider></md-divider>
        <div *ngFor="let item of navitems">
          <a [routerLink]="[item.url]"><md-list-item class="navitem">{{item.title}}</md-list-item></a>
          <md-divider></md-divider>
        </div>
      </md-nav-list>
      
  </md-sidenav>
  <header (click)="toggleSidenav()">
    <md-list class="vertical" [class.open]="isSidenavOpen">
      <md-list-item class="vertical-nav">
        <span md-line>Navigation</span> <md-icon>expand_more</md-icon>
      </md-list-item>
    </md-list>
    <h1>{{title}}</h1>
    <h2 *ngIf="subtitle">{{subtitle}}</h2>
  </header>
  <div class="article">
    <ng-content></ng-content>
  </div>
  </md-sidenav-layout>