<mat-sidenav-container class="app-height">
  <mat-sidenav align="start" mode="over" (close-start)="onCloseStart()" #sidenav>
    <mat-nav-list>
      <div class="nav-header">
        <span mat-subheader>Navigation</span>
        <button mat-icon-button (click)="toggleSidenav()"><mat-icon>close</mat-icon></button>
      </div>
      <mat-divider></mat-divider>
      <div *ngFor="let item of navitems" (click)="closeSidenav()">
        <a [routerLink]="[item.url]">
          <mat-list-item class="navitem">{{item.title}}</mat-list-item>
        </a>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
  <footer>
    <mat-toolbar color="accent" class="app-toolbar">
      <span mat-line class="desktop-display footer">2603 NW 13th Street, STE#340, Gainesville, Florida 32609-2835 (352) 379-2911</span>
      <span class="desktop-display credit" mat-line>Design & Developed by: Amrendra Kumar</span>
      <span mat-line class="mobile-display footer">2603 NW 13th St, STE#340 (352) 379-2911</span>
      <span class="credit mobile-display" mat-line>Design by & Developed by: Amrendra Kumar</span>
    </mat-toolbar>
  </footer>
</mat-sidenav-container>