[md-nav-list] {
    width: 15rem;
}

.nav-header {
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
    text-transform: uppercase;
}

.nav-header [md-subheader] {
    font-size: 1rem;
}

.nav-header button {
    margin-top: -4px;
    margin-right: 5px;
}

header {
    background: slategrey;
    height: 10rem;
    padding: 3rem 2rem 2rem 6rem;
    box-sizing: border-box;
    background: linear-gradient(90deg, #00c853, #69F0AE);
    cursor: pointer;
}

header {
    color: white;
    border-bottom: solid 1px #afafaf;
}

header h1 {
    margin: 0;
    text-transform: uppercase;
}

header h2{
    margin: 0;
    color: rgba(255,255,255,0.7);
    font-weight: 400;
}

header .vertical {
    background: whitesmoke;
    text-transform: uppercase;
    position: absolute;
    top: 102px;
    left: 45px;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
    transition: all 0.8s;
    width: 10rem;
    border: solid 1px #afafaf;
}

header .vertical.open {
    left: 0;
}

header .vertical:hover{
    background:#EF6C00;
    cursor: pointer;
}

.vertical-nav{
    color:#EF6C00;
}

.vertical-nav:hover{
    color:whitesmoke;
}

.app-article {
    min-height: calc(100vh - 10rem);
}

.app-article.nomargin
{
    margin: 0;
    padding: 0;
}

a {
    font-weight: 400;
}

a .navitem:hover{
    color: #EF6C00;
}