<md-sidenav-container class="app-height">
  <md-sidenav align="start" mode="over" (close-start)="onCloseStart()" #sidenav>
    <md-nav-list>
      <div class="nav-header">
        <span md-subheader>Navigation</span>
        <button md-icon-button (click)="toggleSidenav()"><md-icon>close</md-icon></button>
      </div>
      <md-divider></md-divider>
      <div *ngFor="let item of navitems" (click)="closeSidenav()">
        <a [routerLink]="[item.url]">
          <md-list-item class="navitem">{{item.title}}</md-list-item>
        </a>
        <md-divider></md-divider>
      </div>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
  <footer>
    <md-toolbar color="accent" class="app-toolbar">
      <span md-line class="desktop-display footer">2603 NW 13th Street, STE#340, Gainesville, Florida 32609-2835 (352) 379-2911</span>
      <span class="desktop-display credit" md-line>Design & Developed by: Amrendra Kumar</span>
      <span md-line class="mobile-display footer">2603 NW 13th St, STE#340 (352) 379-2911</span>
      <span class="credit mobile-display" md-line>Design by & Developed by: Amrendra Kumar</span>
    </md-toolbar>
  </footer>
</md-sidenav-container>