<a *ngIf="item" (click)="navigateTo(item)">
  <mat-card class="no-adjust-height">
    <div class="group">
      <div class="caption">
        <mat-card-title class="title">{{title || getTitle()}}</mat-card-title>
        <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="showCount">{{item.photosCount}} item<span *ngIf="item.photosCount > 1">s</span></mat-card-subtitle>
      </div>
      <div class="img" [class.img-lg]="largeImg">
        <img [ngClass]="{'portrait': portrait, 'landscape': !portrait }" src="{{item.poster}}" alt="{{item.subtitle}}">
      </div>
    </div>
  </mat-card>
</a>
<div *ngIf="showCardLoading">
  <mat-card>
    <div class="group">
      <div class="caption">
      </div>
      <div class="img" [class.img-lg]="largeImg">
      </div>
    </div>
  </mat-card>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>