<a *ngIf="item" (click)="navigateTo(item)">
  <md-card>
    <div class="group">
      <div class="caption">
        <md-card-title class="title">{{title || getTitle()}}</md-card-title>
        <md-card-subtitle>{{item.subtitle}}</md-card-subtitle>
      </div>
      <div class="img" [class.img-lg]="largeImg">
        <img [ngClass]="{'portrait': rowSpan > 1, 'landscape': !rowSpan || rowSpan == 1 }" src="{{item.poster}}" alt="{{item.subtitle}}">
      </div>
    </div>
  </md-card>
</a>
<div *ngIf="showCardLoading">
  <md-card>
    <div class="group">
      <div class="caption">
      </div>
      <div class="img" [class.img-lg]="largeImg">
      </div>
    </div>
  </md-card>
  <md-progress-bar mode="indeterminate" color="accent"></md-progress-bar>
</div>