/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.3125rem;
}

.first {
  margin-top: 0;
}

footer mat-toolbar-row {
  justify-content: center;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

[mat-line].flex{
  flex-wrap: nowrap;
}

.inset-5x {
  margin-top: 0.3125rem;
}

.inset-10x {
  margin-top: 0.625rem;
}

.inset-15x {
  margin-top: 0.9375rem;
}

.inset-20x {
  margin-top: 1.25rem;
}

.flex>mat-icon {
  font-size: 1rem;
  flex-shrink: 0;
  color: darkgray;
}

/***********cards styles******************/
.card {
  margin: 5px;
}

mat-card {
  min-height: calc(100% - 32px);
}

mat-card.no-adjust-height {
  min-height: auto;
}

mat-card .avatar {
  font-size: 2.5rem;
  color: darkgray;
}

mat-card .detail {
  font-size: 0.875rem;
}
