.card {
    min-width: 18rem;
    margin: 5px;
    width: calc(25% - 10px);
}

.avatar{
    font-size: 2.5rem;
    color: darkgray;
}

.flex > md-icon {
    font-size: 1rem;
    color: darkgray;
}

.detail{
    font-size: 0.875rem;
}


.demo-select {
  display: flex;
  flex-flow: row wrap;
}

 .demo-select md-card {
    width: 450px;
    margin: 24px;
  }
